[Desktop Entry]
Version=1.0
Type=Application
Name=AVWOWE
Comment=Turn media collections into nonstop ambient displays and kiosk installations
Exec=run.sh
Icon=com.xusione.AVWOWE
Categories=AudioVideo;Player;
Keywords=media;kiosk;player;display;signage;ambient;
StartupWMClass=AVWOWE
